/*Custom Styles - overwrite/ alter bootstrap CSS*/

/*****************************************/
/*General Styling - Applies to every size*/
/****************************************/

/*Nav, container, and footer centering for desktop*/
.navbar {

}

div#navContain {

}

div.row {
	margin-left: 0px;
}

.navbar-nav {

}

.span9 {
	
}
.span8 {
	float:left;
	display: inline; 
}

.span4 {
	float:left;
	display: inline;
	width: 90%;
	height: 200px;
	background: green;
}

#pageContain {

} 

 a.navbar-brand{
	color:#C44741;
	font-size:24px;
	float: left;
	text-shadow: 1px 1px 0px #222222;
}



/***************/
/*Mobile Styles*/
/***************/

@media  (min-width: 768px) {
	.navbar {

	}
	
	#pageContain {

	}
	
	.span4 {
		width: auto;
		height: 600px;
	}
	a.navbar-brand {

	}
}
