/*Custom Styles - overwrite/ alter bootstrap CSS*/

/*****************************************/
/*General Styling - Applies to every size*/
/****************************************/

/*Nav, container, and footer centering for desktop*/
.navbar {

}

div#navContain {

}

.container {
	margin-left: 5%;
}
div.row {
	margin-left: 0px;
}

.navbar-nav {

}

/*homepage grid*/
.span12 {
	float: left;
}
.span8 {
	float:left;
	display: inline; 
	width: 90%;
}

.span4{
	float:right;
	display: block;
	width: 90%;
	height: 200px;
	background: green;
}

#pageContain {

} 

/*navbar title*/
 a.navbar-brand{
	color:#C44741;
	font-size:24px;
	float: left;
	text-shadow: 1px 1px 0px #222222;
}



/***************/
/*Mobile Styles*/
/***************/

@media  (min-width: 768px) {
	.navbar {

	}
	
	#pageContain {

	}
	
	.span12 {
		
	}
	
	.span8 {
		width:70%;
		float: left;
	}
	.span4 {
		width: 30%;
		float:right;
		display: inline;
		height: 600px;
	}
	a.navbar-brand {

	}
}
